body {
    background-color: #0000FF;
}
div {
    box-sizing: border-box;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    
}

.box {
    width: 12.5%;
    height: 12.5%;
    border: 3px solid #000000;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 70px;
    cursor: crosshair;
}

button {
    color: dodgerblue;
    background-color: black;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    cursor: crosshair;
    border-radius: 10px;
    border-color: #0000FF;
}

.boatOne {
    width: 75px;
}

.boatTwo {
    width: 75px;
}

section {
    text-align: right;
    margin: 0 52px;;
    font-size: 20px;
    color: antiquewhite;
    padding: 5px;
}