div {
    box-sizing: border-box;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    
}

.box {
    width: 12.5%;
    height: 12.5%;
    border: 3px solid #000000;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 75px;
    cursor: crosshair;
}

#new-game {
    color: dodgerblue;
    background-color: black;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    cursor: crosshair;
}

#boat {
    width: 75px;
}